rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vehicle_states/{vehicleStateId} {
      allow read, write: if true;
    }
    match /charging_logs/{chargingLogId} {
      allow read, write: if true;
    }
  }
}
