@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 210 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 20% 10%;
    --primary: 210 75% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 210 20% 10%;
    --muted: 210 20% 94%;
    --muted-foreground: 210 20% 45%;
    --accent: 180 60% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 210 75% 50%;
    --radius: 1.25rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --regen-green: 134 61% 41%;
  }

  .dark {
    --background: 210 20% 11%;
    --foreground: 0 0% 98%;
    --card: 220 13% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 210 20% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 75% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 20% 25%;
    --muted-foreground: 210 20% 60%;
    --accent: 180 60% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 10% 23%;
    --input: 216 10% 23%;
    --ring: 210 75% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.road-animation {
    background-image:
        radial-gradient(ellipse at 50% 100%, hsl(var(--secondary)) 0%, transparent 40%),
        linear-gradient(90deg,
            transparent 48%,
            hsl(var(--muted-foreground) / 0.15) 48%,
            hsl(var(--muted-foreground) / 0.15) 52%,
            transparent 52%
        ),
        repeating-linear-gradient(0deg,
            transparent,
            transparent 95px,
            hsl(var(--muted-foreground) / 0.2) 95px,
            hsl(var(--muted-foreground) / 0.2) 100px
        );
}

.dark .road-animation {
    background-image:
        radial-gradient(ellipse at 50% 100%, hsl(var(--secondary)/0.5) 0%, transparent 40%),
        linear-gradient(90deg,
            transparent 48%,
            hsl(var(--muted-foreground) / 0.2) 48%,
            hsl(var(--muted-foreground) / 0.2) 52%,
            transparent 52%
        ),
        repeating-linear-gradient(0deg,
            transparent,
            transparent 95px,
            hsl(var(--muted-foreground) / 0.2) 95px,
            hsl(var(--muted-foreground) / 0.2) 100px
        );
}


.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder *:before {
  box-sizing: border-box;
}
.mapboxgl-ctrl-geocoder {
  font-size: 15px;
  line-height: 20px;
  font-family: var(--font-body);
  position: relative;
  background-color: hsl(var(--card));
  width: 100%;
  min-width: 240px;
  z-index: 1;
  border-radius: var(--radius);
}

.mapboxgl-ctrl-geocoder--collapsed {
  width: 50px;
  min-width: 50px;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 50px;
  margin: 0;
  color: hsl(var(--foreground));
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input:focus {
  outline: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--button {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--button svg {
  width: 100%;
  height: 100%;
  fill: hsl(var(--muted-foreground));
}

.mapboxgl-ctrl-geocoder--collapsed .mapboxgl-ctrl-geocoder--button {
  left: 15px;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--button:hover svg {
  fill: hsl(var(--foreground));
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--button.mapboxgl-ctrl-geocoder--close {
  right: 15px;
  left: auto;
  display: none;
}

.mapboxgl-ctrl-geocoder--active .mapboxgl-ctrl-geocoder--button.mapboxgl-ctrl-geocoder--close {
  display: block;
}


.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 15px;
  display: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > .mapboxgl-ctrl-geocoder--loading {
  display: block;
  animation: mapbox-gl-geocoder-spin 1s linear infinite;
}

@keyframes mapbox-gl-geocoder-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.mapboxgl-ctrl-geocoder .suggestions {
  background-color: hsl(var(--card));
  border-radius: var(--radius);
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* Account for shadow */
  z-index: 1000;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder .suggestions li > a {
  cursor: pointer;
  display: block;
  padding: 6px 12px;
  color: hsl(var(--foreground));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mapbox-directions-component {
  width: 100%;
}
.mapboxgl-ctrl-directions {
    background-color: hsl(var(--card)) !important;
    border-radius: var(--radius) !important;
    box-shadow: none !important;
}
.mapboxgl-ctrl-directions .directions-control-instructions,
.mapboxgl-ctrl-directions .directions-control-inputs,
.mapboxgl-ctrl-directions .directions-control-summary,
.mapboxgl-ctrl-directions .mapbox-directions-profile {
    background-color: hsl(var(--card)) !important;
    color: hsl(var(--foreground)) !important;
}

.mapboxgl-ctrl-directions .directions-control-inputs input {
    color: hsl(var(--foreground)) !important;
}

.mapboxgl-ctrl-directions .directions-control-inputs {
    padding: 10px;
    border-bottom: 1px solid hsl(var(--border));
}

.mapboxgl-ctrl-directions .directions-origin,
.mapboxgl-ctrl-directions .directions-destination {
    position: relative;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
}
.mapboxgl-ctrl-directions .directions-origin .mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-directions .directions-destination .mapboxgl-ctrl-geocoder {
    width: 100%;
}

.mapbox-directions-origin-icon, .mapbox-directions-destination-icon {
  fill: hsl(var(--primary)) !important;
}
